.statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    background-color: #fff;
    font-family:  Arial, sans-serif;
    font-size: 30px;
    border-radius: 5px;
    box-shadow: 10px 10px 40px #a9a9a9;
}
.title {
    padding: 50px;
    text-transform: uppercase;
    align-items: center;
}
.statList {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.item {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
}
.label {
    font-size: 20px;
    
}
.percentage {
    font-size: 30px;
}